.panel {
	padding: 500px;
	padding-left: 500px;
	
	background-color: #FFDF00;
}
.eye-border {
	background-color: #fff;
	border: 1px solid;
	
	padding: 20px 25px 20px;
	border-radius: 500px;
}

.eye {
	position: relative;
	left: 0px;
}